In [162]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import pandas as pd
from pandas_datareader import data 
import matplotlib.pyplot as plt

sns.set(style='darkgrid', context='talk', palette='Dark2')

Example of web scrapping on Tesla

In [209]:
start_date = '2000-01-01'
end_date = '2022-10-31'
tesla = data.DataReader('MSFT', 'yahoo', start_date, end_date)
tesla

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,59.312500,56.000000,58.687500,58.281250,53228400.0,36.555374
2000-01-04,58.562500,56.125000,56.781250,56.312500,54119000.0,35.320549
2000-01-05,58.187500,54.687500,55.562500,56.906250,64059600.0,35.692940
2000-01-06,56.937500,54.187500,56.093750,55.000000,54976600.0,34.497295
2000-01-07,56.125000,53.656250,54.312500,55.718750,62013600.0,34.948116
...,...,...,...,...,...,...
2022-10-25,251.039993,245.830002,247.259995,250.660004,34775500.0,250.660004
2022-10-26,238.300003,230.059998,231.169998,231.320007,82543200.0,231.320007
2022-10-27,233.690002,225.779999,231.039993,226.750000,40424600.0,226.750000
2022-10-28,236.600006,226.050003,226.240005,235.869995,40647700.0,235.869995
2022-10-31,234.919998,231.149994,233.759995,232.130005,28357300.0,232.130005

Having imported the appropriate tools, getting market data from a free online source, such as Yahoo Finance, is super easy. Since pandas has a simple remote data access for the Yahoo Finance API data, this is as simple as:

In [199]:
def web_scrapper():
    tickers = pd.read_csv("CSV/constituents.csv")
    tickers_symbol = tickers['Symbol']

    # Define the instruments to download. We would like to see Apple, Microsoft and the S&P500 index.
    # tickers = ['AAPL', 'MSFT', 'GOOG', 'META']

    # We would like all available data from 01/01/2000 until 2022-10-31.
    start_date = '2000-01-01'
    end_date = '2022-10-31'

    # User pandas_reader.data.DataReader to load the desired data.
    df = data.DataReader(['MSFT'], 'yahoo', start_date, end_date) # I commented this line because I saved the scrapped data into a .csv

    close = df['Close']
    volume = df['Volume']

    #Let us assume we are interested in working with the Close prices which have been already been adjusted by Yahoo finance to account for stock splits. We want to make sure that all weekdays are included in our dataset, which is very often desirable for quantitative trading strategies.

    #Of course, some of the weekdays might be public holidays in which case no price will be available. For this reason, we will fill the missing prices with the latest available prices:

    all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')  # B stands for business day frequency
    close = close.reindex(all_weekdays)
    close = close.fillna(method='ffill')
    volume = volume.reindex(all_weekdays)
    volume = volume.fillna(method='ffill')
    df = df.reindex(all_weekdays)
    df = df.fillna(method='ffill')

    # df.to_csv("CSV/sp500.csv",index=False)
    # close.to_csv("CSV/sp500-close.csv",index=False)
    # volume.to_csv("CSV/sp500-volume.csv", index=False)

    return df, close, volume

In [202]:
dates = web_scrapper()

In [211]:
dates[0].index.values

array(['2000-01-03T00:00:00.000000000', '2000-01-04T00:00:00.000000000',
       '2000-01-05T00:00:00.000000000', ...,
       '2022-10-27T00:00:00.000000000', '2022-10-28T00:00:00.000000000',
       '2022-10-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [166]:
sp500 = pd.read_csv("CSV/sp500.csv")
close = pd.read_csv("CSV/sp500-close.csv")
volume = pd.read_csv("CSV/sp500-volume.csv")

/home/joaodocarglass/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250,2251,2252,2253,2254,2255,2256,2257,2258,2259,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2270,2271,2272,2273,2274,2275,2276,2277,2278,2279,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2290,2291,2292,2293,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303,2304,2305,2306,2307,2308,2309,2310,2311,2312,2313,2314,2315,2316,2317,2318,2319,2320,2321,2322,2323,2324,2325,2326,2327,2328,2329,2330,2331,2332,2333,2334,2335,2336,2337,2338,2339,2340,2341,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375,2376,2377,2378,2379,2380,2381,2382,2383,2384,2385,2386,2387,2388,2389,2390,2391,2392,2393,2394,2395,2396,2397,2398,2399,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2430,2431,2432,2433,2434,2435,2436,2437,2438,2439,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2450,2451,2452,2453,2454,2455,2456,2457,2458,2459,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2470,2471,2472,2473,2474,2475,2476,2477,2478,2479,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2531,2532,2533,2534,2535,2536,2537,2538,2539,2540,2541,2542,2543,2544,2545,2546,2547,2548,2549,2550,2551,2552,2553,2554,2555,2556,2557,2558,2559,2560,2561,2562,2563,2564,2565,2566,2567,2568,2569,2570,2571,2572,2573,2574,2575,2576,2577,2578,2579,2580,2581,2582,2583,2584,2585,2586,2587,2588,2589,2590,2591,2592,2593,2594,2595,2596,2597,2598,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2630,2631,2632,2633,2634,2635,2636,2637,2638,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2659,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2670,2671,2672,2673,2674,2675,2676,2677,2678,2679,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2690,2691,2692,2693,2694,2695,2696,2697,2698,2699,2700,2701,2702,2703,2704,2705,2706,2707,2708,2709,2710,2711,2712,2713,2714,2715,2716,2717,2718,2719,2720,2721,2722,2723,2724,2725,2726,2727,2728,2729,2730,2731,2732,2733,2734,2735,2736,2737,2738,2739,2740,2741,2742,2743,2744,2745,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755,2756,2757,2758,2759,2760,2761,2762,2763,2764,2765,2766,2767,2768,2769,2770,2771,2772,2773,2774,2775,2776,2777,2778,2779,2780,2781,2782,2783,2784,2785,2786,2787,2788,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798,2799,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2810,2811,2812,2813,2814,2815,2816,2817,2818,2819,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835,2836,2837,2838,2839,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2850,2851,2852,2853,2854,2855,2856,2857,2858,2859,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2870,2871,2872,2873,2874,2875,2876,2877,2878,2879,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889,2890,2891,2892,2893,2894,2895,2896,2897,2898,2899,2900,2901,2902,2903,2904,2905,2906,2907,2908,2909,2910,2911,2912,2913,2914,2915,2916,2917,2918,2919,2920,2921,2922,2923,2924,2925,2926,2927,2928,2929,2930,2931,2932,2933,2934,2935,2936,2937,2938,2939,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999,3000,3001,3002,3003,3004,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021,3022,3023,3024,3025,3026,3027,3028,3029) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [184]:
sp500

,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,Adj Close.8,Adj Close.9,...,Volume.495,Volume.496,Volume.497,Volume.498,Volume.499,Volume.500,Volume.501,Volume.502,Volume.503,Volume.504
0,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,AAP,...,BF.B,CERN,DISCA,DISCK,INFO,KSU,PBCT,VIAC,WLTW,XLNX
1,26.166324615478516,2.3924336433410645,9.262777328491211,NaN,18.25,NaN,1.2144209146499634,6.6519775390625,16.274673461914062,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25.126611709594727,2.3579587936401367,8.998124122619629,NaN,17.8125,NaN,1.1774803400039673,6.582683563232422,14.90939712524414,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25.854413986206055,2.351064443588257,8.981582641601562,NaN,18.0,NaN,1.1820976734161377,6.478750228881836,15.204174995422363,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27.933847427368164,2.316591501235962,9.295857429504395,NaN,18.03125,NaN,1.1590102910995483,6.513394355773926,15.328289985656738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5952,118.5,51.798843,97.949997,149.820007,264.290009,280.609985,72.5,91.139999,323.790009,181.399994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5953,122.699997,51.649712,98.419998,152.509995,268.25,279.869995,72.480003,93.589996,320.480011,181.809998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5954,122.800003,51.600002,96.93,153.5,267.579987,278.839996,72.5,94.129997,318.649994,188.080002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5955,126.599998,54.380001,99.489998,147.610001,258.059998,287.779999,72.849998,94.879997,325.679993,190.669998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5956,125.790001,54.779999,98.940002,146.399994,252.080002,283.899994,72.800003,96.980003,318.5,189.919998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
close["Date"] = dates[0].index.values

In [214]:
close

,MMM,AOS,ABT,ABMD,ACN,ATVI,ADM,ADBE,AAP,AMD,...,WDC,WY,WHR,WMB,XEL,YUM,ZBRA,ZBH,ZION,Date
0,47.187500,3.614583,15.711531,18.250000,NaN,1.369792,10.884354,16.390625,NaN,15.500000,...,3.937500,69.875000,61.812500,23.198961,19.000000,6.706057,25.027779,NaN,55.500000,2000-01-03
1,45.312500,3.562500,15.262630,17.812500,NaN,1.328125,10.770975,15.015625,NaN,14.625000,...,4.687500,67.250000,59.437500,22.684469,19.437500,6.571262,24.666668,NaN,52.812500,2000-01-04
2,46.625000,3.552083,15.234574,18.000000,NaN,1.333333,10.600907,15.312500,NaN,15.000000,...,4.375000,70.812500,60.312500,24.087631,20.187500,6.604960,25.138889,NaN,52.750000,2000-01-05
3,50.375000,3.500000,15.767643,18.031250,NaN,1.307292,10.657596,15.437500,NaN,16.000000,...,4.562500,74.125000,60.812500,24.602125,20.000000,6.548796,23.777779,NaN,53.500000,2000-01-06
4,51.375000,3.645833,15.935981,17.937500,NaN,1.343750,10.827664,16.187500,NaN,16.250000,...,5.625000,71.687500,61.000000,25.256933,20.000000,6.402768,23.513889,NaN,53.625000,2000-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5951,118.500000,52.099998,97.949997,264.290009,280.609985,72.500000,91.139999,323.790009,181.399994,61.470001,...,35.290001,30.910000,137.000000,31.850000,62.400002,111.239998,274.579987,110.730003,51.509998,2022-10-25
5952,122.699997,51.950001,98.419998,268.250000,279.869995,72.480003,93.589996,320.480011,181.809998,59.730000,...,35.279999,30.959999,134.740005,32.150002,62.570000,112.269997,273.179993,112.269997,50.400002,2022-10-26
5953,122.800003,51.900002,96.930000,267.579987,278.839996,72.500000,94.129997,318.649994,188.080002,58.599998,...,34.340000,31.010000,135.029999,32.500000,63.250000,113.910004,275.290009,111.559998,50.380001,2022-10-27
5954,126.599998,54.380001,99.489998,258.059998,287.779999,72.849998,94.879997,325.679993,190.669998,62.009998,...,35.500000,31.100000,139.910004,32.669998,65.370003,117.879997,288.000000,113.470001,51.540001,2022-10-28
5955,125.790001,54.779999,98.940002,252.080002,283.899994,72.800003,96.980003,318.500000,189.919998,60.060001,...,34.369999,30.930000,138.240005,32.730000,65.110001,118.250000,283.220001,113.349998,51.939999,2022-10-31

In [168]:
sp500

,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Adj Close.6,Adj Close.7,Adj Close.8,Adj Close.9,...,Volume.495,Volume.496,Volume.497,Volume.498,Volume.499,Volume.500,Volume.501,Volume.502,Volume.503,Volume.504
0,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,AAP,...,BF.B,CERN,DISCA,DISCK,INFO,KSU,PBCT,VIAC,WLTW,XLNX
1,26.166324615478516,2.3924336433410645,9.262777328491211,NaN,18.25,NaN,1.2144209146499634,6.6519775390625,16.274673461914062,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25.126611709594727,2.3579587936401367,8.998124122619629,NaN,17.8125,NaN,1.1774803400039673,6.582683563232422,14.90939712524414,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25.854413986206055,2.351064443588257,8.981582641601562,NaN,18.0,NaN,1.1820976734161377,6.478750228881836,15.204174995422363,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27.933847427368164,2.316591501235962,9.295857429504395,NaN,18.03125,NaN,1.1590102910995483,6.513394355773926,15.328289985656738,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5952,118.5,51.798843,97.949997,149.820007,264.290009,280.609985,72.5,91.139999,323.790009,181.399994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5953,122.699997,51.649712,98.419998,152.509995,268.25,279.869995,72.480003,93.589996,320.480011,181.809998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5954,122.800003,51.600002,96.93,153.5,267.579987,278.839996,72.5,94.129997,318.649994,188.080002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5955,126.599998,54.380001,99.489998,147.610001,258.059998,287.779999,72.849998,94.879997,325.679993,190.669998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5956,125.790001,54.779999,98.940002,146.399994,252.080002,283.899994,72.800003,96.980003,318.5,189.919998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
sp500['Close']

0              MMM
1          47.1875
2          45.3125
3           46.625
4           50.375
           ...
5952         118.5
5953    122.699997
5954    122.800003
5955    126.599998
5956    125.790001
Name: Close, Length: 5957, dtype: object

#### Preparing the Data

Let us assume we are interested in working with the Close prices which have been already been adjusted by Yahoo finance to account for stock splits. We want to make sure that all weekdays are included in our dataset, which is very often desirable for quantitative trading strategies.

Of course, some of the weekdays might be public holidays in which case no price will be available. For this reason, we will fill the missing prices with the latest available prices:

Let's build a function to drop columns with nulls percentage above 25

In [170]:
def drop_null_columns(data):
    nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
    nulls_percent_df.columns = ['column_name', 'nulls_percentage']
    # nulls_percent_df.head()
    columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.1]
    # print(len(columns_above_threshold['column_name']))
    drop_columns_list = list(columns_above_threshold['column_name'])
    # print(drop_columns_list)
    data = data.drop(columns=drop_columns_list)
    data.shape
    return data

In [171]:
close.isna().sum()

MMM        0
AOS        0
ABT        0
ABBV    3392
ABMD       0
        ...
KSU     5956
PBCT    5956
VIAC    5956
WLTW    5956
XLNX    5956
Length: 505, dtype: int64

In [172]:
close = drop_null_columns(close)

In [173]:
volume = drop_null_columns(volume)

In [174]:
close.isna().sum()

MMM       0
AOS       0
ABT       0
ABMD      0
ACN     403
       ...
XEL       0
YUM       0
ZBRA      0
ZBH     407
ZION      0
Length: 383, dtype: int64

#### Now we are going to create 100 random portfolios for the close and the volume
#### Each sample will be of 5 samples from the whole population

In [175]:
close

,MMM,AOS,ABT,ABMD,ACN,ATVI,ADM,ADBE,AAP,AMD,...,WST,WDC,WY,WHR,WMB,XEL,YUM,ZBRA,ZBH,ZION
0,47.187500,3.614583,15.711531,18.250000,NaN,1.369792,10.884354,16.390625,NaN,15.500000,...,7.562500,3.937500,69.875000,61.812500,23.198961,19.000000,6.706057,25.027779,NaN,55.500000
1,45.312500,3.562500,15.262630,17.812500,NaN,1.328125,10.770975,15.015625,NaN,14.625000,...,7.640625,4.687500,67.250000,59.437500,22.684469,19.437500,6.571262,24.666668,NaN,52.812500
2,46.625000,3.552083,15.234574,18.000000,NaN,1.333333,10.600907,15.312500,NaN,15.000000,...,7.609375,4.375000,70.812500,60.312500,24.087631,20.187500,6.604960,25.138889,NaN,52.750000
3,50.375000,3.500000,15.767643,18.031250,NaN,1.307292,10.657596,15.437500,NaN,16.000000,...,7.531250,4.562500,74.125000,60.812500,24.602125,20.000000,6.548796,23.777779,NaN,53.500000
4,51.375000,3.645833,15.935981,17.937500,NaN,1.343750,10.827664,16.187500,NaN,16.250000,...,7.609375,5.625000,71.687500,61.000000,25.256933,20.000000,6.402768,23.513889,NaN,53.625000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5951,118.500000,52.099998,97.949997,264.290009,280.609985,72.500000,91.139999,323.790009,181.399994,61.470001,...,249.210007,35.290001,30.910000,137.000000,31.850000,62.400002,111.239998,274.579987,110.730003,51.509998
5952,122.699997,51.950001,98.419998,268.250000,279.869995,72.480003,93.589996,320.480011,181.809998,59.730000,...,254.399994,35.279999,30.959999,134.740005,32.150002,62.570000,112.269997,273.179993,112.269997,50.400002
5953,122.800003,51.900002,96.930000,267.579987,278.839996,72.500000,94.129997,318.649994,188.080002,58.599998,...,221.229996,34.340000,31.010000,135.029999,32.500000,63.250000,113.910004,275.290009,111.559998,50.380001
5954,126.599998,54.380001,99.489998,258.059998,287.779999,72.849998,94.879997,325.679993,190.669998,62.009998,...,225.509995,35.500000,31.100000,139.910004,32.669998,65.370003,117.879997,288.000000,113.470001,51.540001
5955,125.790001,54.779999,98.940002,252.080002,283.899994,72.800003,96.980003,318.500000,189.919998,60.060001,...,230.100006,34.369999,30.930000,138.240005,32.730000,65.110001,118.250000,283.220001,113.349998,51.939999

In [176]:
def random_portfolios(data):
    import random
    list_of_portfolios = []
    tickers_data = list(data.columns.values)
    for i in range(100):
        portofolio_aleatorio = random.sample(tickers_data, 5)
        list_of_portfolios.append(data[portofolio_aleatorio])
    return list_of_portfolios

In [177]:
list_of_portfolios = random_portfolios(close)

In [178]:
list_of_portfolios

[            GLW         ADI         TGT          GL         BLK
 0     40.604168   45.093750   36.031250   12.583333   16.625000
 1     36.666668   42.812500   34.468750   12.333333   15.875000
 2     35.833332   43.437500   33.687500   12.333333   15.750000
 3     35.000000   42.250000   32.093750   12.305556   16.000000
 4     38.958332   43.437500   33.750000   12.555556   15.875000
 ...         ...         ...         ...         ...         ...
 5951  31.730000  146.369995  165.800003  114.639999  635.940002
 5952  32.389999  141.380005  166.770004  114.360001  637.799988
 5953  32.110001  140.679993  166.899994  111.910004  648.979980
 5954  32.490002  144.880005  167.520004  113.709999  663.750000
 5955  32.169998  142.619995  164.250000  115.519997  645.909973

 [5956 rows x 5 columns],
              TXN        AES         MMM      GPS         JPM
 0      51.437500  36.250000   47.187500  43.1250   48.583332
 1      49.250000  34.812500   45.312500  41.5625   47.250000
 2      48.062500  35.187500   46.625000  39.7500   46.958332
 3      46.750000  35.468750   50.375000  44.4375   47.625000
 4      47.000000  36.156250   51.375000  46.5625   48.500000
 ...          ...        ...         ...      ...         ...
 5951  162.160004  25.190001  118.500000  10.7100  122.699997
 5952  157.869995  25.450001  122.699997  10.8300  124.110001
 5953  156.759995  25.770000  122.800003  11.0100  124.599998
 5954  161.360001  26.459999  126.599998  11.2500  126.080002
 5955  160.630005  26.160000  125.790001  11.2700  125.879997

 [5956 rows x 5 columns],
              TGT         DHR        QCOM       HOLX        VNO
 0      36.031250    8.813495   89.656250   1.500000  24.417440
 1      34.468750    8.493650   81.031250   1.421875  24.417440
 2      33.687500    8.588419   78.218750   1.500000  25.057598
 3      32.093750    8.683188   70.031250   1.484375  25.377678
 4      33.750000    8.754265   75.000000   1.546875  25.560579
 ...          ...         ...         ...        ...        ...
 5951  165.800003  251.869995  119.169998  65.300003  23.750000
 5952  166.770004  253.779999  118.110001  66.190002  23.379999
 5953  166.899994  248.100006  114.699997  66.180000  23.230000
 5954  167.520004  251.800003  119.209999  66.930000  23.799999
 5955  164.250000  251.669998  117.660004  67.800003  23.590000

 [5956 rows x 5 columns],
             MKC         YUM         NOC         STZ          GE
 0      6.984375    6.706057   23.886280    6.226563  384.615387
 1      7.078125    6.571262   24.196859    5.992188  369.230774
 2      7.140625    6.604960   24.168625    6.195313  368.589752
 3      7.046875    6.548796   23.716875    6.437500  373.517639
 4      7.015625    6.402768   24.281563    6.625000  387.980774
 ...         ...         ...         ...         ...         ...
 5951  76.129997  111.239998  526.750000  238.750000   73.000000
 5952  76.400002  112.269997  530.989990  237.830002   75.459999
 5953  77.620003  113.910004  535.510010  238.460007   76.000000
 5954  79.199997  117.879997  548.109985  247.089996   78.330002
 5955  78.639999  118.250000  549.010010  247.080002   77.809998

 [5956 rows x 5 columns],
               BA       SBUX        WBA      GPS        BIIB
 0      40.187500   3.082031  28.562500  43.1250   31.083332
 1      40.125000   2.984375  27.500000  41.5625   28.979168
 2      42.625000   3.023438  27.812500  39.7500   31.000000
 3      43.062500   3.132813  27.000000  44.4375   32.375000
 4      44.312500   3.117188  27.687500  46.5625   36.104168
 ...          ...        ...        ...      ...         ...
 5951  146.649994  85.209999  35.520000  10.7100  273.559998
 5952  133.789993  85.889999  35.509998  10.8300  280.429993
 5953  139.759995  85.279999  35.669998  11.0100  277.869995
 5954  143.839996  87.099998  36.580002  11.2500  284.290009
 5955  142.509995  86.589996  36.500000  11.2700  283.440002

 [5956 rows x 5 columns],
             HRL         SRE          TT        OMC         PKI
 0      5.031250   17.312500   16.420586  48.437500   20.718750
 1      4.960938   17.500000   16.091398  46.843750   19.750000
 2      5.039063   17.875000   16.072035  45.500000   19.531250
 3      5.125000   18.375000   16.943411  45.750000   19.781250
 4      5.171875   18.000000   17.737329  47.687500   20.031250
 ...         ...         ...         ...        ...         ...
 5951  45.160000  146.220001  153.960007  71.709999  136.429993
 5952  45.759998  147.529999  154.339996  71.389999  136.440002
 5953  46.029999  150.000000  156.339996  71.150002  135.300003
 5954  46.959999  152.389999  160.940002  72.589996  135.940002
 5955  46.450001  150.940002  159.630005  72.750000  133.580002

 [5956 rows x 5 columns],
              CL        EQR          AZO        KEY         ROP
 0     31.125000  21.093750    30.562500  20.750000   17.781250
 1     30.312500  20.937500    30.437500  20.500000   16.968750
 2     29.281250  21.375000    30.312500  20.125000   16.750000
 3     29.218750  21.593750    29.062500  20.875000   16.750000
 4     30.968750  22.000000    30.437500  21.437500   17.000000
 ...         ...        ...          ...        ...         ...
 5951  72.760002  66.209999  2439.889893  17.770000  378.000000
 5952  73.430000  63.840000  2423.679932  17.690001  388.649994
 5953  73.230003  62.240002  2521.770020  17.750000  400.369995
 5954  74.639999  63.130001  2543.500000  18.100000  413.709991
 5955  73.839996  63.020000  2532.879883  17.870001  414.540009

 [5956 rows x 5 columns],
             SWK         PSA         MCK        ISRG        LEG
 0     28.750000   22.750000   23.437500         NaN  20.562500
 1     28.125000   22.750000   21.937500         NaN  19.500000
 2     27.750000   22.937500   22.187500         NaN  19.500000
 3     27.625000   23.812500   23.750000         NaN  19.437500
 4     28.125000   24.125000   23.500000         NaN  19.750000
 ...         ...         ...         ...         ...        ...
 5951  78.889999  300.109985  382.429993  237.869995  32.830002
 5952  79.300003  298.079987  385.410004  241.660004  32.689999
 5953  75.669998  297.839996  388.070007  241.690002  32.900002
 5954  78.510002  311.540009  394.720001  244.160004  33.419998
 5955  78.489998  309.750000  389.369995  246.470001  33.750000

 [5956 rows x 5 columns],
             MSFT        CPRT         LIN        BSX          O
 0      58.281250    3.250000   24.906250  11.500000  10.053295
 1      56.312500    2.843750   24.468750  11.687500   9.932171
 2      56.906250    2.822917   24.906250  12.531250   9.871609
 3      55.000000    2.625000   26.750000  12.875000   9.992733
 4      55.718750    2.927083   26.781250  12.406250  10.174419
 ...          ...         ...         ...        ...        ...
 5951  250.660004  113.629997  288.179993  41.299999  60.490002
 5952  231.320007  113.849998  294.839996  41.790001  60.599998
 5953  226.750000  113.410004  293.260010  41.580002  61.139999
 5954  235.869995  116.360001  301.799988  43.160000  62.310001
 5955  232.130005  115.019997  297.350006  43.110001  62.270000

 [5956 rows x 5 columns],
             AOS         NUE         BK       EXPD       HOLX
 0      3.614583   13.578125  39.219845  10.796875   1.500000
 1      3.562500   13.437500  38.093597  10.617188   1.421875
 2      3.552083   13.812500  37.232349  10.648438   1.500000
 3      3.500000   13.937500  38.159847  10.703125   1.484375
 4      3.645833   13.984375  40.147339  10.617188   1.546875
 ...         ...         ...        ...        ...        ...
 5951  52.099998  136.509995  41.599998  96.029999  65.300003
 5952  51.950001  137.020004  41.259998  96.620003  66.190002
 5953  51.900002  135.500000  41.650002  96.400002  66.180000
 5954  54.380001  134.000000  42.320000  97.879997  66.930000
 5955  54.779999  131.380005  42.110001  97.849998  67.800003

 [5956 rows x 5 columns],
            SBUX         BLK         DIS        TPR        BEN
 0      3.082031   16.625000   29.471687        NaN  10.562500
 1      2.984375   15.875000   31.198063        NaN  10.375000
 2      3.023438   15.750000   32.492844        NaN  10.541667
 3      3.132813   16.000000   31.198063        NaN  11.187500
 4      3.117188   15.875000   30.704813        NaN  11.270833
 ...         ...         ...         ...        ...        ...
 5951  85.209999  635.940002  104.360001  31.959999  23.450001
 5952  85.889999  637.799988  104.629997  31.660000  23.450001
 5953  85.279999  648.979980  104.440002  31.709999  23.309999
 5954  87.099998  663.750000  105.949997  31.940001  23.719999
 5955  86.589996  645.909973  106.540001  31.680000  23.450001

 [5956 rows x 5 columns],
             MSFT       MTCH       EVRG       FITB         ROP
 0      58.281250   7.527071  16.500000  46.583332   17.781250
 1      56.312500   6.921444  17.062500  44.625000   16.968750
 2      56.906250   6.661890  17.937500  43.958332   16.750000
 3      55.000000   6.938748  17.812500  45.500000   16.750000
 4      55.718750   6.904141  17.625000  45.208332   17.000000
 ...          ...        ...        ...        ...         ...
 5951  250.660004  45.430000  59.459999  35.349998  378.000000
 5952  231.320007  44.230000  59.320000  35.509998  388.649994
 5953  226.750000  43.560001  60.200001  35.349998  400.369995
 5954  235.869995  43.680000  61.959999  35.980000  413.709991
 5955  232.130005  43.200001  61.130001  35.689999  414.540009

 [5956 rows x 5 columns],
              WAT         EOG        USB         MCK        BIIB
 0      25.750000    3.875000  20.562500   23.437500   31.083332
 1      24.500000    3.875000  19.812500   21.937500   28.979168
 2      26.031250    3.765625  19.375000   22.187500   31.000000
 3      25.250000    4.078125  20.875000   23.750000   32.375000
 4      26.031250    4.031250  21.687500   23.500000   36.104168
 ...          ...         ...        ...         ...         ...
 5951  296.809998  132.000000  42.009998  382.429993  273.559998
 5952  301.730011  134.300003  42.389999  385.410004  280.429993
 5953  300.959991  134.369995  42.080002  388.070007  277.869995
 5954  302.679993  133.690002  42.860001  394.720001  284.290009
 5955  299.170013  136.520004  42.450001  389.369995  283.440002

 [5956 rows x 5 columns],
             PFE       FITB        BSX         DOV          PG
 0     30.241936  46.583332  11.500000   29.410976   53.593750
 1     29.115274  44.625000  11.687500   28.866327   52.562500
 2     29.589659  43.958332  12.531250   28.992016   51.562500
 3     30.657021  45.500000  12.875000   29.117704   53.937500
 4     32.732449  45.208332  12.406250   29.913729   58.250000
 ...         ...        ...        ...         ...         ...
 5951  45.590000  35.349998  41.299999  127.290001  130.860001
 5952  46.060001  35.509998  41.790001  127.559998  131.779999
 5953  45.740002  35.349998  41.580002  128.029999  131.880005
 5954  47.430000  35.980000  43.160000  131.889999  135.220001
 5955  46.549999  35.689999  43.110001  130.690002  134.669998

 [5956 rows x 5 columns],
              PXD         NOC         KMB         PPG         URI
 0       8.437500   23.886280   61.301533   30.000000   16.687500
 1       8.562500   24.196859   60.762222   28.968750   16.500000
 2       8.312500   24.168625   60.462608   30.062500   16.437500
 3       8.500000   23.716875   61.361458   31.500000   17.375000
 4       8.750000   24.281563   63.159157   32.062500   17.937500
 ...          ...         ...         ...         ...         ...
 5951  264.829987  526.750000  119.489998  112.959999  294.940002
 5952  265.489990  530.989990  120.209999  112.820000  296.230011
 5953  265.839996  535.510010  121.300003  112.360001  298.570007
 5954  257.309998  548.109985  124.279999  114.160004  309.589996
 5955  256.410004  549.010010  124.459999  114.180000  315.709991

 [5956 rows x 5 columns],
              NI        FRT         ZBH         ITW         DD
 0      6.925344  18.812500         NaN   31.937500  62.920383
 1      6.999018  18.750000         NaN   30.500000  61.200600
 2      7.293713  18.687500         NaN   30.875000  63.187248
 3      7.244597  19.250000         NaN   30.656250  64.966331
 4      7.220039  20.250000         NaN   32.625000  66.419258
 ...         ...        ...         ...         ...        ...
 5951  25.129999  96.650002  110.730003  205.869995  56.959999
 5952  25.170000  95.739998  112.269997  207.559998  57.090000
 5953  25.370001  96.769997  111.559998  206.860001  56.770000
 5954  25.889999  98.870003  113.470001  214.050003  57.560001
 5955  25.690001  98.980003  113.349998  213.529999  57.200001

 [5956 rows x 5 columns],
             CTAS          PH        HAL         TXN          GD
 0      34.833332   32.541668  19.156250   51.437500   24.531250
 1      33.416668   31.250000  19.250000   49.250000   25.562500
 2      33.791668   31.250000  18.406250   48.062500   27.312500
 3      33.979168   31.833332  19.156250   46.750000   27.406250
 4      35.687500   34.750000  20.343750   47.000000   28.125000
 ...          ...         ...        ...         ...         ...
 5951  410.390015  281.859985  34.980000  162.160004  245.750000
 5952  411.899994  278.899994  36.480000  157.869995  245.699997
 5953  414.649994  283.579987  36.270000  156.759995  248.000000
 5954  427.640015  291.649994  35.950001  161.360001  250.720001
 5955  427.549988  290.619995  36.419998  160.630005  249.800003

 [5956 rows x 5 columns],
             HPQ         DIS         EOG         SYK         SJM
 0     26.666100   29.471687    3.875000   17.093750   19.125000
 1     24.650887   31.198063    3.875000   16.906250   18.875000
 2     24.494778   32.492844    3.765625   17.421875   18.750000
 3     22.933697   31.198063    4.078125   17.796875   19.125000
 4     23.586512   30.704813    4.031250   19.437500   19.250000
 ...         ...         ...         ...         ...         ...
 5951  27.580000  104.360001  132.000000  224.619995  146.000000
 5952  27.480000  104.629997  134.300003  228.589996  147.559998
 5953  27.219999  104.440002  134.369995  228.279999  148.690002
 5954  28.049999  105.949997  133.690002  229.229996  150.729996
 5955  27.620001  106.540001  136.520004  229.240005  150.660004

 [5956 rows x 5 columns],
            HBAN        WDC         AAP         SO        LEG
 0     20.397726   3.937500         NaN  13.897975  20.562500
 1     19.772726   4.687500         NaN  14.050700  19.500000
 2     19.261364   4.375000         NaN  14.776144  19.500000
 3     19.943182   4.562500         NaN  14.814325  19.437500
 4     20.113636   5.625000         NaN  15.081594  19.750000
 ...         ...        ...         ...        ...        ...
 5951  14.840000  35.290001  181.399994  65.720001  32.830002
 5952  14.910000  35.279999  181.809998  65.639999  32.689999
 5953  14.900000  34.340000  188.080002  65.169998  32.900002
 5954  15.110000  35.500000  190.669998  66.339996  33.419998
 5955  15.180000  34.369999  189.919998  65.480003  33.750000

 [5956 rows x 5 columns],
              LOW        ODFL         COO          AZO        REG
 0      13.937500    0.987654   14.750000    30.562500  19.937500
 1      13.187500    0.965706   14.875000    30.437500  20.000000
 2      13.171875    1.086420   14.968750    30.312500  19.875000
 3      13.140625    0.987654   14.968750    29.062500  20.000000
 4      13.437500    0.987654   15.093750    30.437500  20.687500
 ...          ...         ...         ...          ...        ...
 5951  193.850006  274.029999  265.260010  2439.889893  58.139999
 5952  193.550003  274.500000  274.269989  2423.679932  57.639999
 5953  193.660004  264.410004  269.230011  2521.770020  58.410000
 5954  198.729996  270.600006  275.420013  2543.500000  59.880001
 5955  194.949997  274.600006  273.390015  2532.879883  60.509998

 [5956 rows x 5 columns],
              ADP        TXT         MMC         HSY        WDC
 0      41.239334  37.468750   47.281250   23.187500   3.937500
 1      41.239334  36.843750   45.156250   22.312500   4.687500
 2      40.842800  35.968750   43.531250   22.406250   4.375000
 3      41.388031  35.500000   46.218750   23.000000   4.562500
 4      42.329796  36.375000   47.687500   23.062500   5.625000
 ...          ...        ...         ...         ...        ...
 5951  237.759995  64.370003  153.110001  234.119995  35.290001
 5952  235.139999  64.519997  154.440002  232.789993  35.279999
 5953  234.970001  65.839996  155.229996  234.429993  34.340000
 5954  242.639999  68.500000  163.740005  239.960007  35.500000
 5955  241.699997  68.440002  161.490005  238.770004  34.369999

 [5956 rows x 5 columns],
             FISV        DRE          GE         HUM        TECH
 0       6.354167  19.000000  384.615387    7.562500   29.062500
 1       5.916667  18.875000  369.230774    7.625000   27.406250
 2       6.328125  18.938000  368.589752    7.812500   27.000000
 3       6.130208  19.375000  373.517639    8.125000   26.031250
 4       6.359375  19.750000  387.980774    8.750000   25.984375
 ...          ...        ...         ...         ...         ...
 5951  100.080002  48.200001   73.000000  529.460022  296.600006
 5952  101.760002  48.200001   75.459999  539.099976  301.890015
 5953   98.809998  48.200001   76.000000  544.500000  295.769989
 5954  102.599998  48.200001   78.330002  554.830017  295.500000
 5955  102.739998  48.200001   77.809998  558.080017  296.260010

 [5956 rows x 5 columns],
              SO       TRMB         NOC        IVZ         KR
 0     13.897975   4.145833   23.886280  22.299999   9.468750
 1     14.050700   4.072917   24.196859  21.924999   9.781250
 2     14.776144   3.817708   24.168625  21.000000   9.937500
 3     14.814325   3.854167   23.716875  20.750000   9.562500
 4     15.081594   3.854167   24.281563  21.525000   9.468750
 ...         ...        ...         ...        ...        ...
 5951  65.720001  58.150002  526.750000  15.050000  44.770000
 5952  65.639999  58.029999  530.989990  15.100000  45.439999
 5953  65.169998  58.240002  535.510010  15.150000  45.680000
 5954  66.339996  60.240002  548.109985  15.410000  46.770000
 5955  65.480003  60.160000  549.010010  15.320000  47.290001

 [5956 rows x 5 columns],
               NVR         HON        FISV         SHW          D
 0       46.562500   54.044136    6.354167    6.708333  19.062500
 1       46.000000   53.090767    5.916667    6.458333  19.531250
 2       45.875000   52.375736    6.328125    6.479167  20.062500
 3       45.875000   53.388695    6.130208    6.583333  20.281250
 4       46.750000   56.248802    6.359375    6.500000  20.281250
 ...           ...         ...         ...         ...        ...
 5951  4278.069824  189.649994  100.080002  220.199997  66.919998
 5952  4185.180176  190.270004  101.760002  220.880005  67.120003
 5953  4159.520020  196.490005   98.809998  221.850006  67.370003
 5954  4275.359863  204.929993  102.599998  226.229996  69.410004
 5955  4237.750000  204.020004  102.739998  225.029999  69.970001

 [5956 rows x 5 columns],
            XRAY         AJG        CAH        TECH        VRSN
 0      7.833333   15.906250  32.875000   29.062500  190.125000
 1      7.833333   15.187500  32.500000   27.406250  188.375000
 2      7.968750   15.250000  34.791668   27.000000  178.000000
 3      7.979167   15.222656  36.000000   26.031250  155.125000
 4      7.958333   15.812500  39.250000   25.984375  169.828125
 ...         ...         ...        ...         ...         ...
 5951  30.309999  175.419998  73.720001  296.600006  187.820007
 5952  30.879999  175.910004  74.910004  301.890015  184.990005
 5953  30.510000  177.529999  75.339996  295.769989  185.789993
 5954  30.860001  188.580002  77.139999  295.500000  203.369995
 5955  30.820000  187.080002  75.900002  296.260010  200.460007

 [5956 rows x 5 columns],
            MCHP       CTRA       CTSH        PHM        FRT
 0     10.064815   1.234375   2.000000   5.281250  18.812500

In [180]:
list_of_portfolios[0]['GLW'][-1:].values[0]

32.16999816894531

In [182]:
stock_performance = list_of_portfolios[0]['GLW'][-1:].values[0] - list_of_portfolios[0]['GLW'][0:].values[0]

In [183]:
stock_performance

-8.43416976928711

In [ ]:
list(close.columns.values)[0]

'MMM'

In [ ]:
def close_print(stock_symbol):
    
    df = data.DataReader(stock_symbol, 'yahoo', start_date, end_date)
    close = df['Close']
    all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')  # B stands for business day frequency
    close = close.reindex(all_weekdays)
    close = close.fillna(method='ffill')

    for i in stock_symbol:
        # Get the ticker timeseries. This now returns a Pandas Series object indexed by date.
        ticker = close.loc[:, i]

        # Calculate the 20 and 100 days moving averages of the closing prices
        short_rolling_ticker = ticker.rolling(window=20).mean()
        long_rolling_ticker = ticker.rolling(window=100).mean()

        # Plot everything by leveraging the very powerful matplotlib package
        fig, ax = plt.subplots(figsize=(18,11))

        plt.title(i)

        ax.plot(ticker.index, ticker, label=i)
        ax.plot(short_rolling_ticker.index, short_rolling_ticker, label='20 days rolling')
        ax.plot(long_rolling_ticker.index, long_rolling_ticker, label='100 days rolling')

        ax.set_xlabel('Date')
        ax.set_ylabel('Adjusted closing price ($)')
        ax.legend()
    close.to_csv("CSV/close.csv", index=True)

In [ ]:
# close_print(['AAPL'])

In [ ]:
def volume_print(stock_symbol):
    
    df = data.DataReader(stock_symbol, 'yahoo', start_date, end_date)
    volume = df['Volume']
    all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')  # B stands for business day frequency
    volume = volume.reindex(all_weekdays)
    volume = volume.fillna(method='ffill')


    for i in stock_symbol:
        # Get the ticker timeseries. This now returns a Pandas Series object indexed by date.
        ticker = volume.loc[:, i]

        # Calculate the 30 and 100 days moving averages of the closing prices
        short_rolling_ticker = ticker.rolling(window=30).mean()
        long_rolling_ticker = ticker.rolling(window=100).mean()

        # short_rolling_ticker = ticker.rolling(window=30, center=True).mean()
        # long_rolling_ticker = ticker.rolling(window=100, center=True).mean()

        # Plot everything by leveraging the very powerful matplotlib package
        fig, ax = plt.subplots(figsize=(18,11))

        plt.title(i)

        ax.plot(ticker.index, ticker, label=i)
        ax.plot(short_rolling_ticker.index, short_rolling_ticker, label='30 days rolling')
        ax.plot(long_rolling_ticker.index, long_rolling_ticker, label='100 days rolling')

        ax.set_xlabel('Date')
        ax.set_ylabel('Stock Volume')
        ax.legend()

    volume.to_csv("CSV/volume.csv", index=True)

In [ ]:
# volume_print(['AAPL'])

In [ ]:
# Relative returns
returns = close.pct_change(1)
returns.head()

,MMM,AOS,ABT,ABMD,ACN,ATVI,ADM,ADBE,AAP,AMD,...,WDC,WY,WHR,WMB,WYNN,XEL,YUM,ZBRA,ZBH,ZION
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.039735,-0.014409,-0.028571,-0.023973,NaN,-0.030418,-0.010417,-0.083889,NaN,-0.056452,...,0.190476,-0.037567,-0.038423,-0.022177,NaN,0.023026,-0.020101,-0.014428,NaN,-0.048423
2,0.028966,-0.002924,-0.001838,0.010526,NaN,0.003921,-0.015789,0.019771,NaN,0.025641,...,-0.066667,0.052974,0.014721,0.061856,NaN,0.038585,0.005128,0.019144,NaN,-0.001183
3,0.080429,-0.014663,0.034991,0.001736,NaN,-0.019531,0.005347,0.008163,NaN,0.066667,...,0.042857,0.046778,0.008290,0.021359,NaN,-0.009288,-0.008503,-0.054144,NaN,0.014218
4,0.019851,0.041667,0.010676,-0.005199,NaN,0.027888,0.015958,0.048583,NaN,0.015625,...,0.232877,-0.032884,0.003083,0.026616,NaN,0.000000,-0.022298,-0.011098,NaN,0.002336

In [ ]:
# Log returns - First the logarithm of the prices is taken and the the difference of consecutive (log) observations
log_returns = np.log(close).diff()
log_returns.head()

,MMM,AOS,ABT,ABMD,ACN,ATVI,ADM,ADBE,AAP,AMD,...,WDC,WY,WHR,WMB,WYNN,XEL,YUM,ZBRA,ZBH,ZION
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.040546,-0.014514,-0.028987,-0.024265,NaN,-0.030891,-0.010471,-0.087618,NaN,-0.058108,...,0.174353,-0.038291,-0.039180,-0.022427,NaN,0.022765,-0.020305,-0.014533,NaN,-0.049635
2,0.028554,-0.002928,-0.001840,0.010471,NaN,0.003914,-0.015915,0.019578,NaN,0.025318,...,-0.068993,0.051619,0.014614,0.060018,NaN,0.037859,0.005115,0.018963,NaN,-0.001184
3,0.077358,-0.014771,0.034392,0.001735,NaN,-0.019724,0.005333,0.008130,NaN,0.064539,...,0.041964,0.045717,0.008256,0.021134,NaN,-0.009331,-0.008540,-0.055665,NaN,0.014118
4,0.019657,0.040822,0.010620,-0.005213,NaN,0.027506,0.015832,0.047440,NaN,0.015504,...,0.209350,-0.033436,0.003079,0.026268,NaN,0.000000,-0.022551,-0.011160,NaN,0.002334

In [ ]:
# fig, (ax1, ax2) = plt.subplots(2, 1, figsize=(18,13))

# for c in log_returns:
#     ax1.plot(log_returns.index, log_returns[c].cumsum(), label=str(c))

# ax1.set_ylabel('Cumulative log returns')
# ax1.legend(loc='best')

# for c in log_returns:
#     ax2.plot(log_returns.index, 100*(np.exp(log_returns[c].cumsum()) - 1), label=str(c))

# ax2.set_ylabel('Total relative returns (%)')
# ax2.legend(loc='best')

# plt.show()